name: Update Release Tags

on:
  release:
    types: [ published ]

permissions:
  contents: write

jobs:
  update-tags:
    if: ${{ !github.event.release.prerelease }}
    name: Update Running Releases
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: sersoft-gmbh/running-release-tags-action@v4
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
