name: Update Release Tags

on:
  release:
    types: [ published ]

jobs:
  update-tags:
    name: Update Running Releases
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: sersoft-gmbh/running-release-tags-action@v2
        if: ${{ github.event.release.prerelease == false }}
        with:
          update-full-release: true
          github-token: ${{ secrets.GITHUB_TOKEN }}
