name: Update Release Tags

on:
  release:
    types:
      - published
      - updated

jobs:
  update-tags:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
      - uses: sersoft-gmbh/running-release-tags-action@v1.2
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
        if: github.event.release.prerelease == false
